
<form action="" method="POST">
<div class="flightdetailsContainer">
            <div>
                <h2 style="padding-left: 250px;">Rethinking air travel: our eJournals</h2>
            </div>
            <hr>
            <div>
                <p>
                    Thanks to free eJournals, you have a variety of up-to-date newspapers and magazines to hand at all times.
                    Numerous newspapers and magazines in different languages and genres are now available to you as free eJournals. These can be downloaded very easily onto your smartphone, tablet or laptop before your flight, so you have reading matter for your trip before, during and after your flight, in a space-saving and convenient way.
                    <br>
                    Simply enter your name and booking code. You will get free eJournals while you will be on board.
                </p>
            </div>
            
                <div>
                    <h3>Booking Code</h3>
                    <hr>
                </div>
                <div>
                    <input style="width: 300px;height: 35px;background-color: rgb(215, 215, 223);font-family: 'Times New Roman', Times, serif;font-size: 20px;border:thin;" type="text" placeholder="Last Name" >
                </div>
                <div>
                    <input style="margin-left: 10px; width: 300px;height: 35px;background-color: rgb(215, 215, 223);font-family: 'Times New Roman', Times, serif;font-size: 20px;border:thin;" type="text" placeholder="Booking Code">
                </div>
                <div>
                    <button style="margin-bottom: 10px;margin-left: 120px; background-color: rgb(88, 88, 196); width: 150px;color: white;font-size: 20px;font-family: 'Times New Roman', Times, serif;">Continue</button>

                </div>
            
</div>
</form>