<div class="flightdetailsContainer" style="height: 120px;">
            <div>
                <h2 style="color: red;">Invalid Sign Up Details!</h2>
            </div>
            <a href="/" style=" margin-top: 5px; margin-left: 270px; text-decoration: none; padding-top: 3px; padding-bottom: 3px; padding-right: 6px;padding-left: 6px; background-color: coral; width: 150px;color: white;font-size: 20px;font-family: 'Times New Roman', Times, serif;">Go back to home page</a>
</div>