<form action="/feedback" method="post">
    <div style="margin-left: 550px;margin-top: 100px ;">
        <label>Name</label>
        <input name = "name" type="text"/>
    </div>
    <div style="margin-left: 550px;margin-top:10px ;">
        <label>Email</label>
        <input name="email" type="text"/>
    </div>
    <div style="margin-left: 490px;margin-top:10px ;">
        <label>Feedback type</label>
        <select name="feedbacktype" style="width: 170px;">
            <option>Question</option>
            <option>Suggestion</option>
        </select>
    </div>
    <div style="margin-left: 520px;margin-top:10px ;">
        <label>Comments</label>
        <textarea name="comment"></textarea>
    </div>
    <div style="margin-left: 580px;margin-top:10px ;">
        <button>Submit Feedback</button>
    </div>
</form>