{{# if success}}
    <section>
        <h2>Successful Validation!</h2>
    </section>
{{else}}
    {{# if errors}}
        <section class="error">
            <ul>
                {{# each errors}}
                 <li>{{this.msg}}</li>
                {{/each}}
            </ul>
        </section>
    {{/if}}
<form action="/flightBooking" onsubmit="return validateFlightBooking()" method="post">
    <div class="flightContainer">
        <div style="padding-left: 170px;">
            <h2 style="font:bold">Flight Ticket Booking</h2>
            <hr>
        </div>
        <div style="padding-left: 70px;">

            <input type="radio" value="Domestic" id="Domestic" checked="checked" name ="flightType" >
            <label for="Domestic" >Domestic</label>

            <input type="radio" value="International" id="International" name="flightType">
            <label for="International" >Internation</label>
        </div>
        <hr>
        <div style="padding-left: 70px;">
            <input type="radio" value="oneWayTrip" id="oneWay" name ="tripType" onclick="validateTrip('oneWay')">
            <label for="oneWayTrip" >One Way Trip</label>

            <input type="radio" value="roundTrip" id="roundWay" checked="checked" name="tripType" onclick="validateTrip('roundWay')">
            <label for="roundTrip" >Round Trip</label>
        </div>
        <hr>
        <div style="padding-left:70px;padding-top: 20px;">
        <label for="fromCity">  
            <span>FROM</span>
            <br></br>
            <input type="text" name="fromCity" value="Sydney" style="width: 250px;"/>
            <p title="SYD, Sydney Airport Australia">
                <span>&nbsp;</span>
            </p>
        </label>
        <span style="width: 30px;">
            <span ></span>
        </span>
        <label for="toCity">  
            <span>TO</span>
            <br></br>
            <input type="text" name="toCity" value="Melbourne" style="width: 250px;"/>
            <p title="MLB, Melbourn Airport Australia">
                <span>&nbsp;</span>
            </p>
        </label>
    </div>
    <hr>
    <div style="padding-left:70px">
        <label for="Departure">
            <span >DEPARTURE</span>
            <br></br>
            <input type="date" name="departureDate" id ='departureDate' onchange="validateDate('departureDate')" />
        </label>
        <label for="return" id="returnTrip">
            <span style="margin-left:43px;">RETURN</span>
            <br></br>
            <input style="margin-left:43px;" type="date" name="returnDate" id='returnDate' onchange="validateDate('returnDate')"/>
        </label>
         <label for="traveller">
            <span style="margin-left:43px;">CLASS</span>
            <br></br>
            <select id="airlineClass" name="airlineClass" style="margin-left:43px;width: 170px;height: 25px;">
                <option value="economy">
                    Economy
                </option>
                <option value="business">
                    Business
                </option>
                <option value="firstClass">
                    First Class
                </option>
            </select>
        </label>
        <br>
        <label for="traveller">
            <span>AIRLINE SELECTION</span>
            <br></br>
            <select id="airlineName" name="airlineName" style="width: 170px;height: 25px;">
                <option value="none">
                    None
                </option>
                <option value="Qantas">
                    Qantas
                </option>
                <option value="Virgin Australia">
                    Virgin Australia
                </option>
                <option value="JetStar">
                    JetStar
                </option>
            </select>
        </label>
        <label for="traveller">
            <span style="margin-left:20px;">FLIGHT TYPE</span>
            <br></br>
            <select id="flightT" name="flightT" style="margin-left:20px; width: 170px;height: 25px;">
                <option value="none">
                    None
                </option>
                <option value="Non Stop">
                    Non-Stop
                </option>
                <option value="In Transit">
                    In-transit
                </option>
            </select>
        </label>
    </div>
    <hr>
    <div style="padding-left:70px">
        <label style="padding-top: 10px;"> 
            Adult(12+ yrs)
        </label>
        <br></br>
        <input type="number"value="1"  id="adult" name="adult" onchange="validateAdult()">
    </div>  
    <div style="padding-left: 250px;padding-bottom: 30px;">
         <input type="submit" value="Search Flights"/>
    </div>
       
    </div>
</form>

{{/if}}