
<form action="/inFlightServicesBook" method="POST">
<div class="flightdetailsContainer" style="height: 470px;">
            <div>
                <h2 style="padding-left: 250px;">On-board entertainment</h2>
            </div>
            <hr>
            <div>
                <p>
                    FlyDreamAir Inflight Entertainment guarantees great entertainment on board. The latest blockbusters, classics of film history, music and games ensure you enjoy an interesting and entertaining flight. Just sit back and enjoy the Lufthansa entertainment programme.
                </p>
                    <br>
            </div>
            <div>
                <h3>
                    The online guide to on-board entertainment
                </h3>
                <p>
                    Rethinking air travel: look forward to watching your favourite film on board while you’re still at home. In our new online guide to in-flight entertainment you’ll find exciting trailers, articles and information about our current entertainment programme.
                    <br>
                    Simply enter your name and booking code. You will get access to entertainment stuff while you will be on board.

                </p>
            </div>
                <div>
                    <h3>Booking Code</h3>
                    <hr>
                </div>
                <div>
                    <input style="width: 300px;height: 35px;background-color: rgb(215, 215, 223);font-family: 'Times New Roman', Times, serif;font-size: 20px;border:thin;" type="text" placeholder="Last Name" >
                </div>
                <div>
                    <input style="margin-left: 10px; width: 300px;height: 35px;background-color: rgb(215, 215, 223);font-family: 'Times New Roman', Times, serif;font-size: 20px;border:thin;" type="text" placeholder="Booking Code">
                </div>
                <div>
                    <button style="margin-bottom: 10px;margin-left: 120px; background-color: rgb(88, 88, 196); width: 150px;color: white;font-size: 20px;font-family: 'Times New Roman', Times, serif;">Continue</button>

                </div>
            
</div>
</form>