<form>
    <div>
        <h2>Select Occassion</h2>
        <h3>Christmas</h3>
        <h3>New Year</h3>
        <h3>Birthday</h3>
        <h3>Anniversary</h3>
    </div>
    <div>
        <label>Amount</label>
        <input type="text">
    </div>
    <div>
        <label>Quantity</label>
        <select>
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div>
        <label>Delivery Date</label>
        <input type="radio" name="Today" value="Today">
        <input type="radio" name="Send Later" value="Send Later">
        <input type="date" style="visibility: false;">
    </div>
    <div>
        <textarea placeholder="Your Message"></textarea>
    </div>
    <h2>Enter Sender and Receiver Details</h2>
    <label>Sender Details</label>
    <div>
        <input type="text" placeholder="Sender's Name">
        <input type="text" placeholder="Sender's email">
        <input type="text" placeholder="Sender's Contact Number">
        <input type="text" placeholder="Sender's Address">
    </div>
    <label>Receiver Details</label>
    <div>
        <input type="text" placeholder="Reciever's Name">
        <input type="text" placeholder="Reciever's email">
        <input type="text" placeholder="Reciever's Contact Number">
        <input type="text" placeholder="Reciever's Address">
    </div>
    <label>Preview gift card</label>
    <div>
        <button>Submit</button>
    </div>
</form>