<body>
        <div>
                <ul style="display: inline-flex;list-style-type: none; margin-left: 800px;">
                        <li class="list"><a class="listLink">24*7 Support</a></li>
                        <li>&nbsp;&nbsp;&nbsp;</li>
                        <li class="list"><a class="listLink" href="/offers">Offers</a></li>
                        <li>&nbsp;&nbsp;&nbsp;</li>
                        <li class="list"><a class="listLink" href="/login">Login</a></li>
                        <li>&nbsp;&nbsp;&nbsp;</li>
                        <li class="list"><a class="listLink" href="/SignUp">Sign Up</a></li>
                </ul>
        </div>
        <form action="/flightBooking" method="post">
    <div class="flightContainer">
        <label for="fromCity">  
            <span>FROM</span>
            <br></br>
            <input type="text" name="fromCity" value="Sydney"/>
            <p title="SYD, Sydney Airport Australia">
                <span>SYD, Sydney Airport Australia</span>
            </p>
        </label>
        <span>
            <span ></span>
        </span>
        <label for="toCity">  
            <span>TO</span>
            <br></br>
            <input type="text" name="toCity" value="Melbourn"/>
            <p title="MLB, Melbourn Airport Australia">
                <span>MLB, Melbourn Airport Australia</span>
            </p>
        </label>
        <label for="Departure">
            <span>DEPARTURE</span>
            <br></br>
            <input type="date" name="departureDate"/>
        </label>
        <label for="return">
            <span>RETURN</span>
            <br></br>
            <input type="date" name="returnDate"/>
        </label>
         <label for="traveller">
            <span>TRAVELLERS&CLASS</span>
            <br></br>
            <input type="date"/>
        </label>
        <input type="submit" value="Search"/>
    </div>
</form>

    <div style="border: thin;border-style: outset;padding-top: 10px; margin-top: 100px; margin-left: 50px; width: 80%">
        <a class="button">All Offers</a>
        <a class="button">Domestic Offers</a>
        <a class="button">Internation Offers</a>
        <a class="button">Others</a>
      <div style="padding-top: 20px;padding-bottom: 20px;">
        <div class="card">
            <p>Smash it high into the sky!</p>
            <line style="color: red;"></line>
            <p>Grab FLAT 10% OFF on domestic flights</p>
            <p style="color:tomato;">COUPON:FLYMORE</p>
        </div>
        <div class="card" >
            <p>A Welcome surprise for you!</p>
            <line style="color: red;"></line>
            <p>Grab FLAT 20% OFF on domestic flights</p>
            <P style="color:tomato;">COUPON:NEWUSERSPECIAL</P>
        </div>
      </div>  
        </div>
    </div>
</body>
