<form action="" method="post">
        <div class="flightContainer">
            <div>
                <h2 style="padding-left: 180px;">In-Flight Services</h2>
            </div>
            <hr>
            <div>
                <img src="/images/mealOnBoard.jpg" style="width:300px;height:150px">
                <img src="/images/eJournals.jpg" style="height:150px;width: 300px;padding-left:20px">
                <br>
                <a href="/mealOnBoard" style="margin-top: 15px; margin-left: 50px;text-decoration: none; padding-top: 3px; padding-bottom: 3px; padding-right: 6px;padding-left: 6px; background-color:coral; width: 150px;color: white;font-size: 20px;font-family: 'Times New Roman', Times, serif;">Meals For Flight</a>
                <a href="/eJournal" style="margin-left: 220px; text-decoration: none; padding-top: 3px; padding-bottom: 3px; padding-right: 6px;padding-left: 6px; background-color: coral; width: 150px;color: white;font-size: 20px;font-family: 'Times New Roman', Times, serif;">eJournals</a>
            </div>
            <div>
                <img src="/images/OnBoardEntertainment.jpg" style="margin-left: 200px;width:300px;height:150px">
                <br>
                <a href="/flightEntertainment" style="margin-top: 5px; margin-left: 270px; text-decoration: none; padding-top: 3px; padding-bottom: 3px; padding-right: 6px;padding-left: 6px; background-color: coral; width: 150px;color: white;font-size: 20px;font-family: 'Times New Roman', Times, serif;">Flight Entertainment</a>
            </div>
        </div>
</form>