<form action="/userLogin" method="post">
    <div>
        <label>Email Id</label>
        <input type="text"  name="email" onchange="myfunction()">
        <label>Password</label>
        <input type="password" name="password">
        <button>Login</button>
    </div>
    <script type="text/javascript" src="../../public/utils/errorUser.js"></script>
</form>
</div>