<div class="flightdetailsContainer" style="height: 180px;">
            <div>
                <h2 style="color: green;">YOU HAVE SUCCESSFULLY LOGGED OUT.</h2>
            </div>
            <a href="/login" style=" margin-top: 15px; margin-left: 270px; text-decoration: none; padding-top: 3px; padding-bottom: 3px; padding-right: 6px;padding-left: 6px; background-color: coral; width: 150px;color: white;font-size: 20px;font-family: 'Times New Roman', Times, serif;">CLICK HERE TO GO TO LOGIN PAGE</a>
</div>