<form action="/inFlightServicesBook" method="POST">
<div class="flightdetailsContainer" style="height: 570px;">
            <div>
                <h2 style="padding-left: 250px;">Meals On Board</h2>
            </div>
            <hr>
            
            <div>
                <h3>
                   Food & beverages service by route length and travel class
                </h3>
                <p>
                    In Premium Economy Class FlyDreamAir also serves meals on fine china; additionally passengers are greeted on board with a welcome drink. In Economy Class too, our selection of complimentary food and beverages is always of a high standard. Children’s menus and special meals round off the comprehensive culinary offering you can enjoy when you fly with FlyDreamAir
                    <br>
                    Simply enter your name and booking code. You will get access to entertainment stuff while you will be on board.

                </p>
                <p>
                    <h2>Menus on board FlyDreamAir flights – your benefits</h2><br>
                    Complimentary meals and snacks on board<br>
                    A varied selection of free hot and cold beverages – both alcoholic and non-alcoholic<br>
                    Special meals for diabetics, vegetarians, people with food allergies and members of certain religious faiths<br>
                    Country-specific cuisine tailored to regional tastes on international routes<br>
                    Colourful, tasty and healthy meals especially for children<br>
                </p>
            </div>
                <div>
                    <h3>Booking Code</h3>
                    <hr>
                </div>
                <div>
                    <input name="lastName" style="width: 300px;height: 35px;background-color: rgb(215, 215, 223);font-family: 'Times New Roman', Times, serif;font-size: 20px;border:thin;" type="text" placeholder="Last Name" >
                </div>
                <div>
                    <input name="bookingId" style="margin-left: 10px; width: 300px;height: 35px;background-color: rgb(215, 215, 223);font-family: 'Times New Roman', Times, serif;font-size: 20px;border:thin;" type="text" placeholder="Booking Code">
                </div>
                <div>
                    <button style="margin-bottom: 10px;margin-left: 120px; background-color: rgb(88, 88, 196); width: 150px;color: white;font-size: 20px;font-family: 'Times New Roman', Times, serif;">Continue</button>

                </div>
            
</div>
</form>