<form action="/myTrips1" method="post">
    <div class="flightdetailsContainer" style="width: 40%;height:210px;margin-left: 380px;margin-bottom: 70px;">
   <div style="padding-left: 45%;font-size: 25px;font-family: 'Times New Roman', Times, serif;padding-top: 10px;">
        <label>Trips</label>
    </div>
    <hr style="padding-bottom: 0px ;padding-top: 0px;">
    <div style="padding-left: 200px;">
        <select name="tripOptions" style="width: 140px;height:30px">
            <option value="booked">Upcoming</option>
            <option value="Cancelled">Cancelled</option>
        </select>
    </div>
    <div>
        <button style="background-color: rgb(88, 88, 196);color: white;margin-top: 20px; margin-left: 220px;width:100px;margin-bottom: 5px;margin-right: 10px;" >Show Trips</button>
    </div>
    </div>
</form>
