   <div class="flightdetailsContainer" style="margin-left: 400px; height: 300px;width:520px">
            <div>
                <h2 style="padding-left: 170px;">Gift Cards</h2>
            </div>
            <hr>
            <div>
                <img src="/images/giftCard.jpg" style="margin-left:100px ;width:300px;height:150px">
                <br>
                <a href='/giftCards' style="margin-left: 190px; text-decoration: none; padding-top: 3px; padding-bottom: 3px; padding-right: 6px;padding-left: 6px; background-color: coral; width: 150px;color: white;font-size: 20px;font-family: 'Times New Roman', Times, serif;" class="link">Gift Cards</a>
            </div>
    </div>
