<div class="flightdetailsContainer" style="height: 180px;">
            <div>
                <h2 style="color: green;">Thanks for signing up!. You can login with your credentials, and enjoy services provided by our web app.</h2>
            </div>
            <a href="/" style=" margin-top: 15px; margin-left: 270px; text-decoration: none; padding-top: 3px; padding-bottom: 3px; padding-right: 6px;padding-left: 6px; background-color: coral; width: 150px;color: white;font-size: 20px;font-family: 'Times New Roman', Times, serif;">Click here to go to login page</a>
</div>