<div class="flightdetailsContainer" style="height: 180px;">
            <div>
                <h2 style="color: green;">THANKS FOR BOOKING FLIGHT WITH US. WE ARE HAPPY TO HELP YOU. PLEASE PROVIDE YOUR VALUABLE FEEDBACK TO MAKE OUR SERVICES BETTER.</h2>
            </div>
            <a href="/userHome" style=" margin-top: 15px; margin-left: 270px; text-decoration: none; padding-top: 3px; padding-bottom: 3px; padding-right: 6px;padding-left: 6px; background-color: coral; width: 150px;color: white;font-size: 20px;font-family: 'Times New Roman', Times, serif;">CLICK HERE TO GO TO HOME PAGE</a>
</div>