<form action="/userLogin" method="post">
    <div>
        <label>Email Id</label>
        <input type="text"  name="email" value={{email}}>
        <button>Update</button>
    </div>
    <script type="text/javascript" src="../../public/utils/errorUser.js"></script>
</form>