<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My Awesome App</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="/js/flightBooking.js"></script>
    </head>
    <body>
        {{{body}}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </body>
     <footer class="footer">
        <div>
            <article style="font-weight: bold;font-family: 'Times New Roman', Times, serif;padding-top: 10px;">Why FlyDreamAir?</article>
            <p style="word-wrap: normal;width: 400px;padding-top: 20px;"> The leading player in online flight bookings, 
                FlyDreamAir offers great offers, some of the lowest airfares, 
                exclusive discounts and a seamless online booking experience. 
                Flight, hotel and holiday bookings through the desktop or mobile 
                site is a delightfully customer friendly experience, and with just 
                a few clicks you can complete your booking. With features like Instant 
                Discounts, and many more, 
                the overall booking experience with FlyDreamAir constantly adds value to 
                its product and continues to offer the best to its customers.</p>
        </div>
        <div style="padding-left: 48px;">
            <article style="font-weight: bold;font-family: 'Times New Roman', Times, serif;padding-top: 10px;">Booking Flights with FlyDreamAir</article>
            <p style="word-wrap: normal;width: 400px;padding-top: 20px;">
                 While booking flights with FlyDreamAir, you can expect the ultimate online booking 
                 experience. With premium customer service, 24/7 dedicated helpline for support, 
                 and over 5 million delighted customers, MakeMyTrip takes great pride in enabling customer 
                 satisfaction. With a cheapest flight guarantee, book your tickets at the lowest airfares. 
                 Avail great offers, exclusive deals for loyal customers and get instant updates for your 
                 flight status and fare drops.
            </p>
        </div>
        <div style="padding-left: 50px;">
            <article style="font-weight: bold;font-family: 'Times New Roman', Times, serif;padding-top: 10px;">Domestic Flights with FlyDreamAir</article>
            <p style="word-wrap: normal;width: 400px;padding-top: 20px;">
                FlyDreamAir is Australia's leading player for flight bookings, and 
                have a dominant position in the domestic flights sector. 
                With the cheapest fare guarantee, experience great value at the lowest price. 
                Instant notifications ensure current flight status, instant fare drops, amazing discounts, 
                instant refunds and rebook options, price comparisons and many more interesting features.
            </p>
        </div>
    </footer>
</html>